@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rowdies:wght@300;400&family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-cols-2-add {
  grid-template-columns: repeat(2, 35% 65%);
}

//Scroll bar
/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #555; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #59cc5f; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
